---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'
import { getCollection } from 'astro:content'
import Footer from '../components/Footer.astro'

const blogs: Array<any> = await getCollection('blogs')
---

<Layout title='My Space'>
  <main class='m-4 xl:mx-56 mx-40 max-md:mx-20 max-sm:mx-12'>
    <Header title='Hey learner' icon count={blogs.length} />

    <!-- Top Content -->
    <div
      class='flex flex-col gap-4 justify-center items-center py-16 animate-fade-in'
    >
      <h1
        class='font-bold text-[70px] max-lg:text-[64px] max-md:text-[54px] max-sm:text-4xl white-gradient'
      >
        Welcome to My <span class='text-gradient'>Space</span>
      </h1>
      <p
        class='w-[700px] max-md:w-[550px] max-sm:w-[400px] text-sm text-wrap text-center font-light leading-5 opacity-80'
      >
        Here, I share my journey of learning, hoping it sparks inspiration and
        growth in others. Let's explore, learn, and grow together on this
        exciting path!
      </p>
    </div>

    <!-- Blogs -->
    <div class='flex flex-col gap-4 pb-10 justify-center items-center'>
      {
        blogs?.map((blog) => {
          return (
            <Card
              title={blog.data.title}
              tags={blog.data.tags}
              date={blog.data.date}
              href={blog.data.href}
              slug={blog.slug}
            />
          )
        })
      }
    </div>
    <Footer />
  </main>
</Layout>
